# Core Framework
langchain
langchain-core
langchain-community

# LLM Provider
langchain-groq

# Embeddings
langchain-huggingface
huggingface-hub

# Vector Database
langchain-chroma
chromadb

# PDF Processing
pypdf
pymupdf
pillow

# Retrivers
rank_bm25

# Text Splitters
langchain-text-splitters

# Utilities
python-dotenv
requests
pydantic
numpy

# Frontend
streamlit
fastapi
uvicorn
dotenv

#PAPERSPACE
arxiv

# Database & Auth
pymysql
PyJWT
